---
import Badge from "./Badge.astro";
import AstroLogo from "./Icons/AstroLogo.astro";
import Bootstrap from "./Icons/Bootstrap.astro";
import JavaScript from "./Icons/JavaScript.astro";
import PowerBi from "./Icons/PowerBi.astro";
import Python from "./Icons/Python.astro";
import SQLServer from "./Icons/SQLServer.astro";
import TailwindsCss from "./Icons/TailwindsCss.astro";
import MySQL from "./Icons/MySQL.astro";

interface Props {
    title: string;
    description: string;
    image: string;
    link: string;
    code?: string;
    frontend_1?: string;
    frontend_2?: string;
    frontend_3?: string;
    vizualitation?: string;
    database?: string;
    backend_1?: string;
}

const {
    title,
    description,
    image,
    link,
    code,
    frontend_1,
    frontend_2,
    frontend_3,
    vizualitation,
    database,
    backend_1,
} = Astro.props;
---

<article
    class="flex flex-col md:flex-row gap-8 mb-8 border border-gray-100/10 rounded-2xl
    hover:bg-gray-100/5 transition-all duration-300 p-4"
>
    <!-- Image Container -->
    <div class="w-full md:w-1/2">
        <img
            class="rounded-xl w-full h-[300px] object-cover object-top hover:scale-[1.02] transition-transform duration-300"
            src={image}
            alt={`Proyecto ${title}`}
            loading="eager"
        />
    </div>

    <!-- Content Container -->
    <div class="w-full md:w-1/2 flex flex-col justify-between gap-4">
        <!-- Title -->
        <h3 class="text-2xl font-semibold text-white/90">
            {title}
        </h3>
        <ul class="flex flex-wrap gap-2">
            {
                frontend_1 == "Astro" && (
                    <Badge class="bg-orange-800/50 text-orange-200 hover:bg-orange-700 text-xs border border-orange-900/80">
                        <AstroLogo class="size-3" />
                        Astro
                    </Badge>
                )
            }
            {
                frontend_2 == "Tailwind" && (
                    <Badge class="bg-sky-800/50 text-sky-200 hover:bg-sky-600 text-xs border border-sky-900/80">
                        <TailwindsCss class="size-3 md:size-3" />
                        Tailwind CSS
                    </Badge>
                )
            }
            {
                frontend_3 == "JavaScript" && (
                    <Badge class="bg-yellow-800/50 text-yellow-200 hover:bg-yellow-600 text-xs border border-yellow-900/80">
                        <JavaScript class="size-3 m:size-3" />
                        JavaScript
                    </Badge>
                )
            }
            {
                frontend_1 == "Bootstrap" && (
                    <Badge class="bg-purple-900/50 text-purple-200 hover:bg-purple-800/80 text-xs border border-purple-900/80">
                        <Bootstrap class="size-6 m:size-3" />
                        Bootstrap
                    </Badge>
                )
            }
            {
                vizualitation == "Power Bi" && (
                    <Badge class="bg-yellow-900/50 text-yellow-200 hover:bg-yellow-800/80 text-xs border border-yellow-900/80">
                        <PowerBi class="size-6 m:size-3" />
                        Power Bi
                    </Badge>
                )
            }
            {
                database == "SQL Server" && (
                    <Badge class="bg-red-900/50 text-red-200 hover:bg-red-800/80 text-xs border border-red-900/80">
                        <SQLServer class="size-6 m:size-3" />
                        SQL Server
                    </Badge>
                )
            }
            {
                database == "MySQL" && (
                    <Badge class="bg-cyan-900/50 text-cyan-200 hover:bg-cyan-800/50 text-xs border border-cyan-900/80">
                        <MySQL class="size-6 m:size-3" />
                        MySQL
                    </Badge>
                )
            }
            {
                backend_1 == "Python" && (
                    <Badge class="bg-blue-900/50 text-blue-200 hover:bg-blue-800/80 text-xs border border-blue-900/80">
                        <Python class="size-3 m:size-3" />
                        Python
                    </Badge>
                )
            }
        </ul>
        <p class="text-pretty text-sm md:text-base text-white/70">
            {description}
        </p>
        <div class="flex flex-wrap gap-4 mt-auto">
            <a
                href={link}
                class="inline-flex items-center justify-center px-4 py-2 rounded-lg
                bg-white/5 hover:bg-white/10 border border-white/10
                transition-colors duration-300"
                target="_blank"
                rel="noopener noreferrer"
            >
                <span class="icon-[tabler--external-link] mr-2"></span>
                Ver proyecto
            </a>
            {
                code && (
                    <a
                        href={code}
                        class="inline-flex items-center justify-center px-4 py-2 rounded-lg
                        bg-[#2b3137] hover:bg-[#2b3137]/90 border border-white/10 
                        transition-colors duration-300"
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <span class="icon-[tabler--brand-github] mr-2" />
                        Ver código
                    </a>
                )
            }
        </div>
    </div>
</article>
